.featured-container {
    display: flex;
    width: 70rem;
    height: 35rem;
}

.ft-left {
    height: 185rem;
}

.ft-left img {
    height: 25rem;
    position: sticky;
    top: 10rem;
}

.ft-right {
    padding: 4rem;
}

.ft-right h1 {
    font-size: 4rem;
    font-weight: 600;
    line-height: 4.1rem;
}

.ft-right p {
    font-size: 1.4rem;
    color: rgb(176, 176, 176);
}

.item-container {
    margin-bottom: 20rem;
}

.empty-space {
    height: 50rem;
}