.hero-container{
    width: fit-content;
    text-align: center;
    padding: 4rem 0;
}

.hero-container h1 {
    font-size: 4rem;
    font-weight: 500;
}

.hero-container p {
    font-size: 1.5rem;
    font-weight: 300;
    margin-top: 1rem;
}

.start-learning {
    margin-top: 2rem;
    cursor: pointer;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: 3px solid rgb(88, 88, 88);
    padding: 18px 45px;
    box-sizing: border-box;
    box-shadow: rgb(35 35 35 / 25%) 0px 6.94028px 43.3768px;
    border-radius: 14px;
    font-family: 'Poppins', sans-serif;
}